body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 7px;
  font-size: 16px;
}

.selected {
  background: #4caf50;
}

.correct {
  color: #4caf50;
}

.wrong {
  color: #f44336;
}
